:root {
    --select_color: white;
}

html {
    overflow: hidden !important;
}

body {
    margin: 0px;
    font-family: 'Montserrat Subrayada', sans-serif;
    overflow: hidden !important;
    /* background-color: black; */
}

.vignette {
    box-shadow: inset 0 0 100px black;
}

*::-webkit-scrollbar {
    width: 5x;
    height: 5px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    width: 5px;
    height: 5px;
    background-color: transparent;
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

*::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: rgba(255, 0, 0, 0.959);
    /* border-radius: 25px;s */
    /* outline: 1px solid slategrey; */
}