.overlay {
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 0.1;
    pointer-events: none
    /* background-color: transparent; */
    /* background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(74, 138, 143, 0) 50%, rgba(0, 212, 255, 1) 100%); */
    /* background: rgb(0, 0, 0); */
    /* background: radial-gradient(circle, rgba(0, 0, 0, 0.165703781512605) 0%, rgba(0, 0, 0, 0.16290266106442575) 60%, rgba(0, 0, 0, 0.27494747899159666) 100%); */
}

.site-wrapper {
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    /* background-image: url('../images/posters/poster.webp'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* box-shadow: inset 0 0 100px black; */
    /* justify-content: center; */
}

.site-wrapper * {
    /* border: 1px solid white; */
    transition: 1s;
}

.topBar-wrapper {
    /* border: 1px solid white; */
    width: 95%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    /* padding: 0px 10px 0px 100px; */
    /* position: relative; */
    /* align-items: flex-start; */
}

.topBar-logo {
    /* border: 1px solid white; */
    color: red;
    font-size: 35px;
    align-self: center;
    /* justify-self: center; */
    font-weight: 600;
    cursor: pointer;
    /* margin-right: 35px; */
    /* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.topBar-logo:hover {
    /* box-shadow: 120px 80px 40px 20px red; */
    /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
    text-shadow: rgba(242, 24, 24, 0.99) 0px 0px 28px;
}

.options {
    color: white;
    opacity: 0.7;
    padding-right: 10px;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Martel Sans', sans-serif;
}

.options:hover {
    opacity: 1;
}

.topBar-options {
    flex: 1;
    /* width: 100%; */
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    /* align-content: center; */
    /* align-self: center; */
    /* justify-self: center; */
    padding-left: 35px;
    justify-content: left;
    font-family: 'Montserrat Subrayada', sans-serif;
    /* border: */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .topBar-options {
        padding-left: 0px;
        justify-content: center;
    }
}

.topBar-options-home {}

.topBar-options-recently {}

.topBar-profile {
    border: 1px solid white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-self: center;
    /* position: absolute; */
    right: 15px;
    background-image: url('../images/userIcons/user1.jpg');
    background-position: center;
    background-size: contain;
    /* justify-self: flex-end; */
}

.preview-wrapper {
    width: 95%;
    height: 70%;
    /* border: 1px solid white; */
    display: flex;
    /* align-items: center; */
    /* border: 1px solid white; */
    /* justify-content: center; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .preview-wrapper {
        justify-content: center;
    }
}

.preview-container {
    /* border: 1px solid white; */
    width: 600px;
    height: fit-content;
    align-self: center;
    /* align-self: center; */
    /* justify-self: center; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .preview-container {
        align-self: flex-end;
        width: 340px;
    }
}

.preview-container-title {
    /* border: 1px solid white; */
    font-size: 50px;
    /* justify: center; */
    /* text-align: left; */
    font-weight: 800;
    text-align: left;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    /* font-family: 'Martel Sans', sans-serif; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .preview-container-title {
        text-align: center;
        font-size: 35px;
    }
}

.tools {
    /* width: 80px; */
    width: fit-content;
    padding: 0px 10px 0px 10px;
    height: 80%;
    background-color: rgba(70, 68, 68, 0.541);
    /* border: 1px solid white; */
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
}

.tools-text {
    /* flex: 1; */
    color: white;
    /* justify-self: center;
align-self: center;
text-align: center; */
    /* align: center; */
}

.tools-icon {
    /* flex: 1; */
    color: white;
    margin-right: 10px;
    /* align-self: center;
text-align: center; */
    /* align: center; */
}

.preview-container-tools {
    /* border: 1px solid white; */
    height: 40px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .tools {
        background-color: white;
    }
    .tools-icon {
        color: black;
    }
    .tools-text {
        color: black;
    }
    .preview-container-tools {
        align-items: center;
        justify-content: center;
    }
}

.details {}

.preview-container-details {
    /* border: 1px solid white; */
    display: flex;
    margin-bottom: 5px;
    width: fit-content;
    /* align-self: flex-end; */
    /* justify-self: center; */
    /* justify-content: center; */
    background-color: rgba(0, 0, 0, 0.205);
    /* box-shadow: inset 0 0 5px black; */
}

.preview-container-details * {
    color: white;
    /* flex: 1; */
    margin-left: 5px;
    font-weight: 900;
    white-space: nowrap;
    /* border-left: 1px solid white; */
    /* align-self: center; */
    /* justify-self: center; */
    /* border: 1px solid white; */
    /* text-align: center; */
    /* text-justify: center; */
    /* align-content: center; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .preview-container-details {
        justify-content: center;
    }
}

.preview-container-details-year {}

.preview-container-details-genre {}

.preview-container-details-match {}

.preview-container-details-rating {
    display: flex;
}

.preview-container-description {
    font-size: 20px;
    /* justify: center; */
    font-weight: 300;
    text-align: left;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    /* padding: 0px 5px 0px 15px; */
    /* font-family: 'Montserrat Subrayada', sans-serif; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .preview-container-description {
        text-align: center;
        height: 0px;
        ove
    }
}

.rec-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-width: 100%;
    height: 25%!important;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rec-item {
    min-width: 200px;
    flex-shrink: 0;
    position: relative;
    width: 200px;
    height: 90%;
    margin: 0px 10px 0px 10px;
}

.rec-item-main {
    position: absolute;
    width: 100%;
    padding-top: 56%;
    background-color: white;
    top: 10%;
    background-image: url('/images/posters/poster.webp');
    background-size: contain;
    border-radius: 5px;
    box-shadow: inset 0 0 10px black;
    filter: brightness(150%);
}

.rec-item-select {}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .rec-item {}
    .rec-item-select {}
}